.DS_Store
REPORT.md

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# SwiftPM
.build/

# CocoaPods / Carthage (if ever added)
Pods/
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
